#page {
    padding: 0;
    margin: 0;
    display: flex;
}

#page aside {
    width: 30%;
    background-color: #7351eb;
    color: #ffffff;
}

#page aside img {
    width: 30%;
    background-color: #7351eb;
    color: #ffffff;
}

#page p.content

#page main {
    width: 70%;
}
